*.[oa]
*~
*.lo
*.la
*.pc
Makefile.in
Makefile
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
build-aux/
config.h.in
config.h
config.log
config.status
configure
libtool
.deps
.libs
src/libaacs/aacs-version.h
src/examples/parser_test
src/keydbcfg-lexer.c
src/keydbcfg-parser.c
src/keydbcfg-parser.h
stamp-h1
